@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap");

#heading,
#signup,
#continue {
  width: 27%;
  margin: auto;
  margin-bottom: 1%;
  text-align: center;
}
#signup {
  padding: 1%;
  height: 5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.name {
  width: 80%;
  padding: 2%;
  border: none;
}

#continue {
  width: 29%;
  /* border: 1px solid red; */
}
#btn {
  width: 100%;
  padding: 4%;
  background-color: tomato;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 3%;
}
#signwithemail {
  display: flex;
  width: 29%;
  font-size: 18px;
  margin: auto;
  justify-content: space-between;
}

#socialdiv {
  /* border: 1px solid grey; */
  display: flex;
  margin: auto;
  width: 29%;
  margin-top: 4%;
}
#left,
#rigth {
  border: 1px solid rgba(128, 128, 128, 0.3);
  display: flex;
  width: 30%;
  height: 0.5%;
  margin-top: 10px;
}
#text {
  border: 1px solid grey;
  display: flex;
  width: 40%;
  border-radius: 10px;
  padding-left: 3%;
  color: grey;
}
#socialAccount {
  /* border: 1px solid red; */
  display: flex;
  margin: 4%;
  width: 29%;
  margin: auto;
  justify-content: space-between;
  cursor: pointer;
}
#fb,
#google {
  padding: 0.1%;
  margin: 5% 0;
  width: 43%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.h3,
.p {
  text-align: center;
}
.p,
#heading > h5 {
  font-size: 12px;
  color: grey;
}
#signwithemail a,
.h3 > a {
  color: tomato;
}

#offerdiv {
  font-family: "Luxurious Script", cursive;
  font-size: 30px;
  font-weight: 700;
  color: grey;
  border: 1px solid rgba(128, 128, 128, 0.39);
  width: 29%;
  margin: auto;
  text-align: center;
  padding: 0.1%;
  border-radius: 5px;
}
#message {
  color: tomato;
  font-size: 15px;
}
